{% extends 'store/base.html' %}

{% block content %}

<h2 align="center">ลงทะเบียน</h2>
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for messages in messages %}
    <h5>{{messages}}</h5>
    {% endfor%}
</div>
{%endif%}

<form method="POST">
    {% csrf_token %}
    <div class="form-group w-50" >
        <label for="first_name">Firstname</label>
        <input type="text" class="form-control" name="first_name"> 
    </div>
    <div class="form-group w-50">
        <label for="last_name">Lastname</label>
        <input type="text" class="form-control" name="last_name"> 
    </div>
    <div class="form-group w-50">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email"> 
    </div>
    <div class="form-group w-50">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password"> 
    </div>
    <br>
    <input type="submit" value="ลงทะเบียน" class="btn btn-primary">
    
</form>

{% endblock %}